flask==2.0.1
flask-cors==3.0.10
flask-sqlalchemy==2.5.1
python-dotenv>=0.21.0
markdown==3.3.4
pytz>=2021.3
Werkzeug==2.0.1
SQLAlchemy==1.4.23
html2text==2020.1.16
flask-migrate==3.1.0
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.51
dashscope==1.17.0
openai>=1.6.1
requests>=2.28.2